<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997754410833-7pefl91mlrjbq03vvmer417d2pt478c6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997754410833-7pefl91mlrjbq03vvmer417d2pt478c6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>997754410833-vegl0jpmjq7nfb57ds7nnfqr40mrptiu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCX52FguMwrXnIIaIEGhLaX5lzp17rw_8A</string>
	<key>GCM_SENDER_ID</key>
	<string>997754410833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.android.application</string>
	<key>PROJECT_ID</key>
	<string>flutter-e-commerce-app-597a9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-e-commerce-app-597a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997754410833:ios:d7a140c1ed92866bfba570</string>
</dict>
</plist>